iframe {
    max-width: 100%;
    height: auto;
}

.card iframe {
    width: 100%; /* Make the video fill the width of its container */
    height: auto; /* Maintain the aspect ratio */
    border: none; /* Remove border */
  }